langchain
langchain-community
langchain-core
python-dotenv
ipykernel
pypdf
arxiv
sentence_transformers
langchain-huggingface
langchain-text-splitters
pandas
pymupdf
faiss-cpu
langchain_groq
streamlit
langchain-openai
chromadb
langchain-chroma
pydub
tempfile
groq